main{ text-align: center;
  background-color: rgb(243, 239, 239) ; 
  color: black; 
  
h2{background-color: yellow;

}
h3{background-color: blue; 

}
h4{
  background-color: blanchedalmond;

}
@media (max-width: 768px){
  body{
    font-size: 16px;
    background-color: lightgray;
  
  }
}
  
}
@media(max-width:480px){
  body{
    font-size: 14px;
    background-color: lightblue;
  }
}